.img-add {
	background: url("/static/images/sprite.svg") 99.87898346107302% 79.13409500901984% no-repeat;
	width: 33px;
	height: 33px;
}

.img-admin-symbol {
	background: url("/static/images/sprite.svg") 99.19354838709677% 59.13461538461539% no-repeat;
	width: 32px;
	height: 32px;
}

.img-argos-logo {
	background: url("/static/images/sprite.svg") 0 0 no-repeat;
	width: 2000px;
	height: 668.74px;
}

.img-back-btn {
	background: url("/static/images/sprite.svg") 93.36016096579476% 45.02398081534772% no-repeat;
	width: 27px;
	height: 28px;
}

.img-bell {
	background: url("/static/images/sprite.svg") 99.95987158908507% 44.862604540023895% no-repeat;
	width: 20px;
	height: 22px;
}

.img-bell-motion {
	background: url("/static/images/sprite.svg") 100% 58.78136200716846% no-repeat;
	width: 20px;
	height: 22px;
}

.img-between_wallets {
	background: url("/static/images/sprite.svg") 97.80775716694772% 41.727053140096615% no-repeat;
	width: 140px;
	height: 40px;
}

.img-blue-eye-off {
	background: url("/static/images/sprite.svg") 100% 38.81578947368421% no-repeat;
	width: 24px;
	height: 24px;
}

.img-blue-eye-on {
	background: url("/static/images/sprite.svg") 98.87459807073955% 42.2747009569378% no-repeat;
	width: 24px;
	height: 24px;
}

.img-celo-logo {
	background: url("/static/images/sprite.svg") 0 60.689166991859594% no-repeat;
	width: 2000px;
	height: 594.09px;
}

.img-chainalysis-logo {
	background: url("/static/images/sprite.svg") 39.36675461741425% 79.12468671679198% no-repeat;
	width: 617px;
	height: 100px;
}

.img-chart-setting {
	background: url("/static/images/sprite.svg") 99.83922829581994% 42.2747009569378% no-repeat;
	width: 24px;
	height: 24px;
}

.img-check_v_40px {
	background: url("/static/images/sprite.svg") 90.45307443365695% 79.46859903381643% no-repeat;
	width: 40px;
	height: 40px;
}

.img-checking {
	background: url("/static/images/sprite.svg") 92.07119741100324% 79.46859903381643% no-repeat;
	width: 40px;
	height: 40px;
}

.img-chk-btn-medium {
	background: url("/static/images/sprite.svg") 98.83953581432573% 67.0793471810089% no-repeat;
	width: 13px;
	height: 11px;
}

.img-chk-list {
	background: url("/static/images/sprite.svg") 96.39855942376951% 83.729216152019% no-repeat;
	width: 13px;
	height: 12px;
}

.img-close_x_40px {
	background: url("/static/images/sprite.svg") 93.68932038834951% 79.46859903381643% no-repeat;
	width: 40px;
	height: 40px;
}

.img-corporate-member {
	background: url("/static/images/sprite.svg") 96.2655601659751% 48.93350062735257% no-repeat;
	width: 102px;
	height: 102px;
}

.img-corporate-member_blue {
	background: url("/static/images/sprite.svg") 96.2655601659751% 55.33249686323714% no-repeat;
	width: 102px;
	height: 102px;
}

.img-corporation_domain_24px {
	background: url("/static/images/sprite.svg") 94.33279742765274% 44.91626794258373% no-repeat;
	width: 24px;
	height: 24px;
}

.img-correct {
	background: url("/static/images/sprite.svg") 95.30744336569579% 79.46859903381643% no-repeat;
	width: 40px;
	height: 40px;
}

.img-custom-color-01 {
	background: url("/static/images/sprite.svg") 95.004095004095% 59.13461538461539% no-repeat;
	width: 70px;
	height: 32px;
}

.img-custom-color-02 {
	background: url("/static/images/sprite.svg") 97.87059787059788% 59.13461538461539% no-repeat;
	width: 70px;
	height: 32px;
}

.img-custom-color-03 {
	background: url("/static/images/sprite.svg") 95.004095004095% 61.05769230769231% no-repeat;
	width: 70px;
	height: 32px;
}

.img-custom-color-04 {
	background: url("/static/images/sprite.svg") 97.87059787059788% 61.05769230769231% no-repeat;
	width: 70px;
	height: 32px;
}

.img-document {
	background: url("/static/images/sprite.svg") 99.62978198272316% 48.719550281074326% no-repeat;
	width: 81px;
	height: 95px;
}

.img-download {
	background: url("/static/images/sprite.svg") 95.29742765273312% 44.91626794258373% no-repeat;
	width: 24px;
	height: 24px;
}

.img-edit-pen {
	background: url("/static/images/sprite.svg") 100% 36.29320619785459% no-repeat;
	width: 18px;
	height: 18px;
}

.img-external-link {
	background: url("/static/images/sprite.svg") 96.2620578778135% 44.91626794258373% no-repeat;
	width: 24px;
	height: 24px;
}

.img-externalWalletManager-button {
	background: url("/static/images/sprite.svg") 98.0376003210273% 73.43283582089552% no-repeat;
	width: 20px;
	height: 21px;
}

.img-external_wallets {
	background: url("/static/images/sprite.svg") 93.85113268608414% 76.7156862745098% no-repeat;
	width: 40px;
	height: 64px;
}

.img-eye-off {
	background: url("/static/images/sprite.svg") 97.22668810289389% 44.91626794258373% no-repeat;
	width: 24px;
	height: 24px;
}

.img-eye-on {
	background: url("/static/images/sprite.svg") 98.19131832797427% 44.91626794258373% no-repeat;
	width: 24px;
	height: 24px;
}

.img-ic_keyboard_arrow_left_black_24px {
	background: url("/static/images/sprite.svg") 99.15594855305466% 44.91626794258373% no-repeat;
	width: 24px;
	height: 24px;
}

.img-ic_keyboard_arrow_left_black_disabled_24px {
	background: url("/static/images/sprite.svg") 62.62057877813505% 77.92045454545455% no-repeat;
	width: 24px;
	height: 24px;
}

.img-ic_keyboard_arrow_left_white_24px {
	background: url("/static/images/sprite.svg") 63.58520900321543% 77.92045454545455% no-repeat;
	width: 24px;
	height: 24px;
}

.img-ic_keyboard_arrow_left_white_disabled_24px {
	background: url("/static/images/sprite.svg") 64.54983922829582% 77.92045454545455% no-repeat;
	width: 24px;
	height: 24px;
}

.img-ic_keyboard_arrow_right_black_24px {
	background: url("/static/images/sprite.svg") 65.51446945337621% 77.92045454545455% no-repeat;
	width: 24px;
	height: 24px;
}

.img-ic_keyboard_arrow_right_black_disabled_24px {
	background: url("/static/images/sprite.svg") 66.47909967845659% 77.92045454545455% no-repeat;
	width: 24px;
	height: 24px;
}

.img-ic_keyboard_arrow_right_white_24px {
	background: url("/static/images/sprite.svg") 67.44372990353698% 77.92045454545455% no-repeat;
	width: 24px;
	height: 24px;
}

.img-ic_keyboard_arrow_right_white_disabled_24px {
	background: url("/static/images/sprite.svg") 68.40836012861736% 77.92045454545455% no-repeat;
	width: 24px;
	height: 24px;
}

.img-icon-bitcointalk {
	background: url("/static/images/sprite.svg") 97.76785714285714% 82.64563106796116% no-repeat;
	width: 48px;
	height: 48px;
}

.img-icon-discord {
	background: url("/static/images/sprite.svg") 99.7159090909091% 82.64563106796116% no-repeat;
	width: 48px;
	height: 48px;
}

.img-icon-editPen {
	background: url("/static/images/sprite.svg") 77.79554574638844% 77.73448687350836% no-repeat;
	width: 20px;
	height: 20px;
}

.img-icon-externelLink {
	background: url("/static/images/sprite.svg") 78.598113964687% 77.73448687350836% no-repeat;
	width: 20px;
	height: 20px;
}

.img-icon-facebook {
	background: url("/static/images/sprite.svg") 81.16883116883118% 86.83252427184466% no-repeat;
	width: 48px;
	height: 48px;
}

.img-icon-kakaotalk {
	background: url("/static/images/sprite.svg") 83.11688311688312% 86.83252427184466% no-repeat;
	width: 48px;
	height: 48px;
}

.img-icon-medium {
	background: url("/static/images/sprite.svg") 85.06493506493507% 86.83252427184466% no-repeat;
	width: 48px;
	height: 48px;
}

.img-icon-reddit {
	background: url("/static/images/sprite.svg") 87.01298701298701% 86.83252427184466% no-repeat;
	width: 48px;
	height: 48px;
}

.img-icon-telegram {
	background: url("/static/images/sprite.svg") 88.96103896103897% 86.83252427184466% no-repeat;
	width: 48px;
	height: 48px;
}

.img-icon-twitter {
	background: url("/static/images/sprite.svg") 90.9090909090909% 86.83252427184466% no-repeat;
	width: 48px;
	height: 48px;
}

.img-icon_back {
	background: url("/static/images/sprite.svg") 69.37299035369774% 77.92045454545455% no-repeat;
	width: 24px;
	height: 24px;
}

.img-icon_btc {
	background: url("/static/images/sprite.svg") 99.11361804995971% 60.984393757503% no-repeat;
	width: 30px;
	height: 30px;
}

.img-icon_btc_after {
	background: url("/static/images/sprite.svg") 100% 69.02761104441777% no-repeat;
	width: 30px;
	height: 30px;
}

.img-icon_changeStatus {
	background: url("/static/images/sprite.svg") 79.40068218298555% 77.73448687350836% no-repeat;
	width: 20px;
	height: 20px;
}

.img-icon_check {
	background: url("/static/images/sprite.svg") 100% 60.69295101553166% no-repeat;
	width: 22px;
	height: 22px;
}

.img-icon_close {
	background: url("/static/images/sprite.svg") 70.33762057877813% 77.92045454545455% no-repeat;
	width: 24px;
	height: 24px;
}

.img-icon_company_flutterwave {
	background: url("/static/images/sprite.svg") 96.43013158972137% 43.61575178997613% no-repeat;
	width: 106.113px;
	height: 20px;
}

.img-icon_company_sepa {
	background: url("/static/images/sprite.svg") 98.88577309502945% 43.51190476190476% no-repeat;
	width: 58.55px;
	height: 16px;
}

.img-icon_company_skrill {
	background: url("/static/images/sprite.svg") 99.78096860550012% 41.126864174811196% no-repeat;
	width: 46.6px;
	height: 15.833px;
}

.img-icon_copy {
	background: url("/static/images/sprite.svg") 71.30225080385853% 77.92045454545455% no-repeat;
	width: 24px;
	height: 24px;
}

.img-icon_copy_active {
	background: url("/static/images/sprite.svg") 72.26688102893891% 77.92045454545455% no-repeat;
	width: 24px;
	height: 24px;
}

.img-icon_deleteacc {
	background: url("/static/images/sprite.svg") 100% 70.82833133253301% no-repeat;
	width: 30px;
	height: 30px;
}

.img-icon_deleteacc_after {
	background: url("/static/images/sprite.svg") 99.91941982272361% 75.1500600240096% no-repeat;
	width: 30px;
	height: 30px;
}

.img-icon_eth {
	background: url("/static/images/sprite.svg") 99.91941982272361% 76.95078031212485% no-repeat;
	width: 30px;
	height: 30px;
}

.img-icon_eth_after {
	background: url("/static/images/sprite.svg") 64.38356164383562% 75.80012004801921% no-repeat;
	width: 30px;
	height: 30px;
}

.img-icon_fail {
	background: url("/static/images/sprite.svg") 98.69494290375204% 76.5281173594132% no-repeat;
	width: 60px;
	height: 60px;
}

.img-icon_help {
	background: url("/static/images/sprite.svg") 73.2315112540193% 77.92045454545455% no-repeat;
	width: 24px;
	height: 24px;
}

.img-icon_help_hover {
	background: url("/static/images/sprite.svg") 74.19614147909968% 77.92045454545455% no-repeat;
	width: 24px;
	height: 24px;
}

.img-icon_history {
	background: url("/static/images/sprite.svg") 65.59226430298146% 75.80012004801921% no-repeat;
	width: 30px;
	height: 30px;
}

.img-icon_history_after {
	background: url("/static/images/sprite.svg") 66.80096696212732% 75.80012004801921% no-repeat;
	width: 30px;
	height: 30px;
}

.img-icon_learn {
	background: url("/static/images/sprite.svg") 68.00966962127316% 75.80012004801921% no-repeat;
	width: 30px;
	height: 30px;
}

.img-icon_learn_after {
	background: url("/static/images/sprite.svg") 69.21837228041902% 75.80012004801921% no-repeat;
	width: 30px;
	height: 30px;
}

.img-icon_logout {
	background: url("/static/images/sprite.svg") 70.42707493956486% 75.80012004801921% no-repeat;
	width: 30px;
	height: 30px;
}

.img-icon_logout_after {
	background: url("/static/images/sprite.svg") 71.63577759871072% 75.80012004801921% no-repeat;
	width: 30px;
	height: 30px;
}

.img-icon_mypage {
	background: url("/static/images/sprite.svg") 72.84448025785657% 75.80012004801921% no-repeat;
	width: 30px;
	height: 30px;
}

.img-icon_mypage_active {
	background: url("/static/images/sprite.svg") 74.05318291700242% 75.80012004801921% no-repeat;
	width: 30px;
	height: 30px;
}

.img-icon_needexternalwallet {
	background: url("/static/images/sprite.svg") 96.24796084828711% 76.7156862745098% no-repeat;
	width: 60px;
	height: 64px;
}

.img-icon_notenoughlevel {
	background: url("/static/images/sprite.svg") 90.90538336052202% 83.2518337408313% no-repeat;
	width: 60px;
	height: 60px;
}

.img-icon_plus {
	background: url("/static/images/sprite.svg") 75.26188557614827% 75.80012004801921% no-repeat;
	width: 30px;
	height: 30px;
}

.img-icon_plus_after {
	background: url("/static/images/sprite.svg") 76.47058823529412% 75.80012004801921% no-repeat;
	width: 30px;
	height: 30px;
}

.img-icon_plus_common {
	background: url("/static/images/sprite.svg") 99.9198717948718% 37.32142857142857% no-repeat;
	width: 16px;
	height: 16px;
}

.img-icon_success {
	background: url("/static/images/sprite.svg") 93.35236541598695% 83.2518337408313% no-repeat;
	width: 60px;
	height: 60px;
}

.img-icon_visibleOff {
	background: url("/static/images/sprite.svg") 54.69502407704655% 79.52446300715991% no-repeat;
	width: 20px;
	height: 20px;
}

.img-icon_visibleOn {
	background: url("/static/images/sprite.svg") 55.49759229534511% 79.52446300715991% no-repeat;
	width: 20px;
	height: 20px;
}

.img-icon_wallet {
	background: url("/static/images/sprite.svg") 77.67929089443997% 75.80012004801921% no-repeat;
	width: 30px;
	height: 30px;
}

.img-icon_wallet_active {
	background: url("/static/images/sprite.svg") 78.88799355358582% 75.80012004801921% no-repeat;
	width: 30px;
	height: 30px;
}

.img-idcard {
	background: url("/static/images/sprite.svg") 96.92556634304208% 79.46859903381643% no-repeat;
	width: 40px;
	height: 40px;
}

.img-idcard-button {
	background: url("/static/images/sprite.svg") 98.54368932038835% 79.46859903381643% no-repeat;
	width: 40px;
	height: 40px;
}

.img-incorrect {
	background: url("/static/images/sprite.svg") 94.49838187702265% 86.41304347826087% no-repeat;
	width: 40px;
	height: 40px;
}

.img-individual-member {
	background: url("/static/images/sprite.svg") 96.2655601659751% 65.7465495608532% no-repeat;
	width: 102px;
	height: 102px;
}

.img-individual-member_blue {
	background: url("/static/images/sprite.svg") 96.2655601659751% 72.14554579673776% no-repeat;
	width: 102px;
	height: 102px;
}

.img-instant-buy {
	background: url("/static/images/sprite.svg") 100% 34.15366146458584% no-repeat;
	width: 18px;
	height: 30px;
}

.img-logo {
	background: url("/static/images/sprite.svg") 99.23011120615911% 34.35990338164251% no-repeat;
	width: 174px;
	height: 40px;
}

.img-main-bonus {
	background: url("/static/images/sprite.svg") 98.77650897226754% 71.16336633663366% no-repeat;
	width: 60px;
	height: 80px;
}

.img-main-security {
	background: url("/static/images/sprite.svg") 30.48630976706171% 84.17726991970352% no-repeat;
	width: 65px;
	height: 77px;
}

.img-main-various-markets {
	background: url("/static/images/sprite.svg") 99.75288303130148% 54.816656308266005% no-repeat;
	width: 84px;
	height: 87px;
}

.img-mobile {
	background: url("/static/images/sprite.svg") 96.11650485436893% 86.41304347826087% no-repeat;
	width: 40px;
	height: 40px;
}

.img-mypage-custom-chart1 {
	background: url("/static/images/sprite.svg") 0 99.97174348697395% no-repeat;
	width: 293px;
	height: 199px;
}

.img-mypage-custom-chart2 {
	background: url("/static/images/sprite.svg") 13.20414601171699% 99.97174348697395% no-repeat;
	width: 293px;
	height: 199px;
}

.img-mypage-custom-chart3 {
	background: url("/static/images/sprite.svg") 26.40829202343398% 99.97174348697395% no-repeat;
	width: 293px;
	height: 199px;
}

.img-mypage-custom-chart4 {
	background: url("/static/images/sprite.svg") 39.612438035150966% 99.97174348697395% no-repeat;
	width: 293px;
	height: 199px;
}

.img-nav_index {
	background: url("/static/images/sprite.svg") 56.30016051364366% 79.52446300715991% no-repeat;
	width: 20px;
	height: 20px;
}

.img-nav_index_active {
	background: url("/static/images/sprite.svg") 57.102728731942214% 79.52446300715991% no-repeat;
	width: 20px;
	height: 20px;
}

.img-nav_mypage {
	background: url("/static/images/sprite.svg") 57.90529695024077% 79.52446300715991% no-repeat;
	width: 20px;
	height: 20px;
}

.img-nav_mypage_active {
	background: url("/static/images/sprite.svg") 58.70786516853933% 79.52446300715991% no-repeat;
	width: 20px;
	height: 20px;
}

.img-nav_support {
	background: url("/static/images/sprite.svg") 59.51043338683788% 79.52446300715991% no-repeat;
	width: 20px;
	height: 20px;
}

.img-nav_support_active {
	background: url("/static/images/sprite.svg") 98.87984745082296% 73.43283582089552% no-repeat;
	width: 21px;
	height: 21px;
}

.img-nav_trade {
	background: url("/static/images/sprite.svg") 60.313001605136435% 79.52446300715991% no-repeat;
	width: 20px;
	height: 20px;
}

.img-nav_trade_active {
	background: url("/static/images/sprite.svg") 97.23381440385275% 73.4328796614207% no-repeat;
	width: 21.097px;
	height: 21.001px;
}

.img-nav_wallet {
	background: url("/static/images/sprite.svg") 61.11556982343499% 79.52446300715991% no-repeat;
	width: 20px;
	height: 20px;
}

.img-nav_wallet_active {
	background: url("/static/images/sprite.svg") 61.91813804173355% 79.52446300715991% no-repeat;
	width: 20px;
	height: 20px;
}

.img-new-noti {
	background: url("/static/images/sprite.svg") 99.54579326923077% 43.51190476190476% no-repeat;
	width: 16px;
	height: 16px;
}

.img-original_header-nav-logo {
	background: url("/static/images/sprite.svg") 98.97610921501706% 39.238210399032646% no-repeat;
	width: 168px;
	height: 42px;
}

.img-original_header-nav-mobile-logo {
	background: url("/static/images/sprite.svg") 88.83043302306758% 79.56469165659009% no-repeat;
	width: 41px;
	height: 42px;
}

.img-passport {
	background: url("/static/images/sprite.svg") 95.79934747145188% 83.2518337408313% no-repeat;
	width: 60px;
	height: 60px;
}

.img-press-cointelegraph {
	background: url("/static/images/sprite.svg") 86.31851532153647% 79.75757575757575% no-repeat;
	width: 195px;
	height: 46px;
}

.img-press-etnews {
	background: url("/static/images/sprite.svg") 86.31851532153647% 83.71235402581438% no-repeat;
	width: 195px;
	height: 69px;
}

.img-press-markets_insider {
	background: url("/static/images/sprite.svg") 99.27257167308515% 31.2385600976205% no-repeat;
	width: 175px;
	height: 57px;
}

.img-press-zdnet_korea {
	background: url("/static/images/sprite.svg") 58.8260681916271% 77.66482164821649% no-repeat;
	width: 195px;
	height: 70px;
}

.img-profile {
	background: url("/static/images/sprite.svg") 99.67871485943775% 72.19570405727923% no-repeat;
	width: 22px;
	height: 20px;
}

.img-question-mark {
	background: url("/static/images/sprite.svg") 75.16077170418006% 77.92045454545455% no-repeat;
	width: 24px;
	height: 24px;
}

.img-red-logo {
	background: url("/static/images/sprite.svg") 99.23011120615911% 36.77536231884058% no-repeat;
	width: 174px;
	height: 40px;
}

.img-search {
	background: url("/static/images/sprite.svg") 99.7228823765556% 73.43283582089552% no-repeat;
	width: 21px;
	height: 21px;
}

.img-simplex_logo {
	background: url("/static/images/sprite.svg") 0 86.36193599876356% no-repeat;
	width: 746px;
	height: 233.747px;
}

.img-small-logo {
	background: url("/static/images/sprite.svg") 97.73462783171522% 86.41304347826087% no-repeat;
	width: 40px;
	height: 40px;
}

.img-small-red-logo {
	background: url("/static/images/sprite.svg") 99.35275080906149% 86.41304347826087% no-repeat;
	width: 40px;
	height: 40px;
}

.img-support_attachment {
	background: url("/static/images/sprite.svg") 88.57949959644876% 83.66093366093367% no-repeat;
	width: 34px;
	height: 68px;
}

.img-swap {
	background: url("/static/images/sprite.svg") 100% 0 no-repeat;
	width: 512px;
	height: 512px;
}

.img-symbol_equal {
	background: url("/static/images/sprite.svg") 96.95756605284227% 57.609988109393576% no-repeat;
	width: 14px;
	height: 14px;
}

.img-symbol_greater {
	background: url("/static/images/sprite.svg") 97.51801441152922% 57.609988109393576% no-repeat;
	width: 14px;
	height: 14px;
}

.img-symbol_less {
	background: url("/static/images/sprite.svg") 98.07846277021618% 57.609988109393576% no-repeat;
	width: 14px;
	height: 14px;
}

.img-symbol_minus {
	background: url("/static/images/sprite.svg") 98.63891112890312% 57.609988109393576% no-repeat;
	width: 14px;
	height: 14px;
}

.img-symbol_plus {
	background: url("/static/images/sprite.svg") 99.19935948759007% 57.609988109393576% no-repeat;
	width: 14px;
	height: 14px;
}

.img-table-enabled-mark {
	background: url("/static/images/sprite.svg") 100% 30.49434187016081% no-repeat;
	width: 17px;
	height: 17px;
}

.img-table-exclamation-mark {
	background: url("/static/images/sprite.svg") 100% 31.506849315068493% no-repeat;
	width: 17px;
	height: 17px;
}

.img-table-globe {
	background: url("/static/images/sprite.svg") 97.03525641025641% 67.27898809523809% no-repeat;
	width: 16px;
	height: 16px;
}

.img-table-search-mark {
	background: url("/static/images/sprite.svg") 97.67628205128206% 67.27898809523809% no-repeat;
	width: 16px;
	height: 16px;
}

.img-table-unabled-mark {
	background: url("/static/images/sprite.svg") 100% 32.519356759976176% no-repeat;
	width: 17px;
	height: 17px;
}

.img-tag {
	background: url("/static/images/sprite.svg") 98.3173076923077% 67.27898809523809% no-repeat;
	width: 16px;
	height: 16px;
}

.img-tutorial_bonus {
	background: url("/static/images/sprite.svg") 91.24087591240875% 35.85434173669468% no-repeat;
	width: 320px;
	height: 268px;
}

.img-tutorial_logo {
	background: url("/static/images/sprite.svg") 99.58881578947368% 64.94339451934762% no-repeat;
	width: 80px;
	height: 82.287px;
}

.img-tutorial_secu {
	background: url("/static/images/sprite.svg") 91.24087591240875% 54.621848739495796% no-repeat;
	width: 320px;
	height: 268px;
}

.img-tutorial_symbol {
	background: url("/static/images/sprite.svg") 91.24087591240875% 73.38935574229691% no-repeat;
	width: 320px;
	height: 268px;
}

.img-verification-example {
	background: url("/static/images/sprite.svg") 63.02588996763754% 76.2578502415459% no-repeat;
	width: 40px;
	height: 40px;
}

.img-wallet-icon {
	background: url("/static/images/sprite.svg") 92.85714285714286% 86.83252427184466% no-repeat;
	width: 48px;
	height: 48px;
}

.img-wallet-setting {
	background: url("/static/images/sprite.svg") 76.12540192926045% 77.92045454545455% no-repeat;
	width: 24px;
	height: 24px;
}

.img-wallet-simplex-payment-credit-card {
	background: url("/static/images/sprite.svg") 76.98683637487531% 77.76529603613842% no-repeat;
	width: 20.665px;
	height: 20.664px;
}

.img-wallet-walletpage-editcancelbtn {
	background: url("/static/images/sprite.svg") 99.75980784627703% 57.609988109393576% no-repeat;
	width: 14px;
	height: 14px;
}

.img-wallet-walletpage-editcheckbtn {
	background: url("/static/images/sprite.svg") 99.79943842759727% 40.03569303985723% no-repeat;
	width: 19px;
	height: 15px;
}

